.hero-section {
    width: 100%;
    height: 120vh;
    position: relative;
    z-index: 9;
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__text {
        h2 {
            margin-bottom: 15px;
        }
        h4 {
        }
    }
    &__search {
        background-color: #e7f2f0;
        border-radius: 20px;
        max-width: 870px;
        padding: 30px 52px 30px 36px;
        @include adaptiv-value('margin-top', 150, 80, 1);
        h4 {
            margin-bottom: 25px;
        }
        .hero-search__meta {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 20px;
            span {
                background: #526c58;
                color: #ffffff;
                font-weight: 600;
                padding: 5px 20px;
            }
        }
    }
}

.video-section {
    width: 100%;
    height: 1150px;
    transform: translateY(-40px);
    position: relative;
    margin-bottom: -40px;
    z-index: 8;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .video-poster {
        max-width: 1110px;
        width: 100%;
        height: 690px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: transparent;
            display: block;
            position: relative;
            border-radius: 50%;
            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                border-radius: 50%;
                border: solid 2px $accentcolor;
                animation: ripple 2s ease-out infinite;
            }
            &::after {
                animation: ripple 2s 1s ease-out infinite;
            }
        }
    }
}

.state-section {
    transform: translateY(-75px);
    margin-bottom: -75px;
    position: relative;
    z-index: 6;
    padding-top: 100px;
    padding-bottom: 170px;
    .section-header {
        max-width: 865px;
        margin: 0 auto;
        text-align: center;
    }
}

.video-gallery {
    position: relative;
    z-index: 5;
    transform: translateY(-35px);
    margin-bottom: -35px;
    width: 100%;
    height: 900px;
    padding-top: 250px;
    @media (max-width: $md3+px) {
        height: 700px;
        padding-top: 150px;
        transform: translateY(0);
        margin-bottom: 0;
        background: #fef8e4 !important;
    }
    @media (max-width: $md4+px) {
        height: 100%;
        padding: 50px 0;
    }
}

.recomandation-section {
    position: relative;
    z-index: 4;
    transform: translateY(-50px);
    margin-bottom: -50px;
    padding: 200px 0;
    @media (max-width: $md2+px) {
        padding: 130px 0;
    }
    @media (max-width: $md3+px) {
        background: #e7f2f0 !important;
    }
    &__container {
        display: flex;
        align-items: center;
    }
    &__content {
        max-width: 650px;
        overflow-x: hidden;
        @media (max-width: $md1+px) {
            max-width: 480px;
        }
        @media (max-width: $md2+px) {
            max-width: 100%;
        }
        .section-header {
            @include adaptiv-value('margin-bottom', 70, 30, 1);
            @media (max-width: $md2+px) {
                text-align: center;
            }
        }
        .recomandation-section__mascota--mobile {
            display: none;
            @media (max-width: $md2+px) {
                display: block;
                margin-bottom: 50px;
                img {
                    display: block;
                    max-width: 70%;
                    margin: 0 auto;
                }
            }
        }
        .page__recomandation-slider {
            .recomandation-slider__body {
                .recomandation-slider__slider {
                    .slider-recomandation__body {
                        margin-bottom: 30px;
                        .slider-recomandation__slide {
                            &:hover {
                                h6 {
                                    color: $limecolor;
                                }
                            }
                            img {
                                border-radius: 20px;
                                width: 100%;
                                height: auto;
                                margin-bottom: 25px;
                            }
                            h6 {
                                transition: color 0.3s;
                            }
                        }
                    }
                    .slider-recomandation-controls {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        @media (max-width: 390px) {
                            flex-direction: column;
                            &__more {
                                width: 100%;
                                margin-top: 10px;
                            }
                        }
                        &__arrows {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            gap: 30px;
                            margin-left: 4px;
                        }
                        &__more {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
    &__mascota {
        @media (max-width: $md2+px) {
            display: none;
        }
        img {
            max-width: 650px;
            width: 100%;
            height: auto;
        }
    }
}

.story-section {
    position: relative;
    z-index: 3;
    transform: translateY(-55px);
    margin-bottom: -55px;
    padding: 175px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    &__illustration {
        img {
            max-width: 650px;
            width: 100%;
            height: auto;
        }
    }
    &__content {
        max-width: 420px;
        .mobile-illustration {
            margin-top: 30px;
            img {
                max-width: 100%;
            }
            @media (min-width: $md3+px) {
                display: none;
            }
        }
    }
    &__navigation {
        display: flex;
        align-items: center;
        margin-top: 52px;
        gap: 20px;
    }
}

.resurces-section {
    position: relative;
    z-index: 2;
    transform: translateY(-40px);
    margin-bottom: -40px;
    padding: 175px 0;
    @media (max-width: $md3+px) {
        background: #e7f2f0 !important;
        padding: 100px 0;
    }
    @media (max-width: $md5+px) {
        padding: 50px 0;
    }
    .section-header {
        text-align: center;
        margin-bottom: 50px;
    }
    .page__resurces-slider {
        .resurces-slider__body {
            .resurces-slider__slider {
                .slider-resurces-controls {
                    margin-bottom: 30px;
                    &__arrows {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 30px;
                        @media (max-width: $md4+px) {
                            display: none;
                        }
                    }
                }
                .slider-resurces__body {
                    .slider-resurces__slide {
                        display: flex;
                        align-items: center;
                        background-color: #fff;
                        border-radius: 20px;
                        @media (max-width: $md4+px) {
                            flex-direction: column;
                            max-width: 250px;
                        }
                        img {
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            height: 100%;
                            object-fit: cover;
                            @media (max-width: $md4+px) {
                                width: 100%;
                                border-top-left-radius: 20px;
                                border-top-right-radius: 20px;
                                border-bottom-left-radius: 0;
                            }
                        }

                        .resurce-slide__content {
                            padding: 30px;
                            @media (max-width: $md4+px) {
                                padding: 20px;
                            }
                            h5 {
                                margin-bottom: 10px;
                            }
                            p {
                                font-size: 14px;
                                line-height: 214%;
                                color: #67766d;
                                margin-bottom: 38px;
                            }
                            a {
                                font-weight: 500;
                                color: $accentcolor;
                                text-decoration: underline;
                                transition: color 0.3s;
                                &:hover {
                                    color: $limecolor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.about-section {
    position: relative;
    z-index: 1;
    transform: translateY(-45px);
    margin-bottom: -45px;
    padding: 165px 0;
    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__mascota {
        img {
            max-width: 650px;
            width: 100%;
            height: auto;
        }
    }
    &__content {
        max-width: 625px;
        @media (max-width: $md1+px) {
            max-width: 450px;
        }
        .mascota-mobile {
            display: none;
        }
        .minister {
            margin-top: 40px;
        }
        .campany-promoters {
            margin-top: 25px;
            h6 {
                margin-bottom: 20px;
            }
            .campany-promoters__logo {
                display: flex;
                align-items: center;
                gap: 30px;
                flex-wrap: wrap;
                img {
                    &:not(:last-child) {
                        padding-right: 30px;
                        border-right: 1px solid #ccdedb;
                    }
                }
            }
        }
    }
}
