.hero-section {
    width: 100%;
    height: 120vh;
    position: relative;
    z-index: 8;
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__text {
        h2 {
            margin-bottom: 15px;
        }
        h4 {
        }
    }
    &__search {
        background-color: #e7f2f0;
        border-radius: 20px;
        max-width: 870px;
        padding: 30px 52px 30px 36px;
        @include adaptiv-value('margin-top', 150, 80, 1);
        h4 {
            margin-bottom: 25px;
        }
        .search-form {
            display: flex;
            align-items: center;
            gap: 30px;
            .input-block {
                display: flex;
                align-items: center;
                position: relative;
                padding: 0 20px;
                border-radius: 100px;
                background-color: #fff;
                border: 1px solid #ccdedb;
                flex: 1;
                .icon-search {
                    font-size: 24px;
                }
                .icon-chevron {
                    transition: transform 0.3s;
                    font-size: 20px;
                }
                .search-input {
                    border: none;
                    padding-left: 10px;
                    padding-right: 10px;
                    &:focus + .icon-chevron {
                        transform: rotate(180deg);
                    }
                }
                .search-value__list {
                    position: absolute;
                    top: 115%;
                    left: 0;
                    width: 100%;
                    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
                    overflow: hidden;
                    max-height: 0;
                    transition: 0.3s ease-in-out;
                    border-radius: 20px;
                    &.open {
                        max-height: 250px;
                        overflow: auto;
                    }
                    li {
                        position: relative;
                        background-color: #fafcfd;
                        padding: 20px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        transition: background-color 0.3s;
                        opacity: 1;
                        &:hover {
                            background-color: $accentcolor;
                            color: #fff;
                        }
                        &.closed {
                            opacity: 0;
                            padding: 0;
                            max-height: 0;
                            overflow: hidden;
                            transform: scaleY(0);
                        }
                    }
                }
            }
            .search-submit {
                width: 200px;
            }
        }
        .hero-search__meta {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 20px;
            span {
                background: #526c58;
                color: #ffffff;
                font-weight: 600;
                padding: 5px 20px;
            }
        }
    }
}

.video-section {
    width: 100%;
    height: 1150px;
    transform: translateY(-40px);
    position: relative;
    margin-bottom: -40px;
    z-index: 7;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .video-poster {
        max-width: 1110px;
        width: 100%;
        height: 690px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            background-color: transparent;
            display: block;
            position: relative;
            border-radius: 50%;
            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                border-radius: 50%;
                border: solid 2px $accentcolor;
                animation: ripple 2s ease-out infinite;
            }
            &::after {
                animation: ripple 2s 1s ease-out infinite;
            }
        }
    }
}

.state-section {
    transform: translateY(-75px);
    margin-bottom: -75px;
    position: relative;
    z-index: 6;
    padding-top: 100px;
    padding-bottom: 170px;
    .section-header {
        max-width: 865px;
        margin: 0 auto;
        text-align: center;
    }
}

.video-gallery {
    position: relative;
    z-index: 5;
    transform: translateY(-35px);
    margin-bottom: -35px;
    width: 100%;
    height: 900px;
    padding-top: 250px;
    @media (max-width: $md3+px) {
        height: 700px;
        padding-top: 150px;
        transform: translateY(0);
        margin-bottom: 0;
        background: #fef8e4 !important;
    }
    @media (max-width: $md4+px) {
        height: 100%;
        padding: 50px 0;
    }
}

.recomandation-section {
    position: relative;
    z-index: 4;
    transform: translateY(-50px);
    margin-bottom: -50px;
    padding: 200px 0;
    @media (max-width: $md2+px) {
        padding: 130px 0;
    }
    &__container {
        display: flex;
        align-items: center;
    }
    &__content {
        max-width: 650px;
        overflow-x: hidden;
        @media (max-width: $md1+px) {
            max-width: 480px;
        }
        @media (max-width: $md2+px) {
            max-width: 100%;
        }
        .section-header {
            @include adaptiv-value('margin-bottom', 70, 30, 1);
            @media (max-width: $md2+px) {
                text-align: center;
            }
        }
        .recomandation-section__mascota--mobile {
            display: none;
            @media (max-width: $md2+px) {
                display: block;
                margin-bottom: 50px;
                img {
                    display: block;
                    max-width: 70%;
                    margin: 0 auto;
                }
            }
        }
        .page__recomandation-slider {
            .recomandation-slider__body {
                .recomandation-slider__slider {
                    .slider-recomandation__body {
                        margin-bottom: 30px;
                        .slider-recomandation__slide {
                            &:hover {
                                h6 {
                                    color: $limecolor;
                                }
                            }
                            img {
                                border-radius: 20px;
                                width: 100%;
                                height: auto;
                                margin-bottom: 25px;
                            }
                            h6 {
                                transition: color 0.3s;
                            }
                        }
                    }
                    .slider-recomandation-controls {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        @media (max-width: 390px) {
                            flex-direction: column;
                            &__more {
                                width: 100%;
                                margin-top: 10px;
                            }
                        }
                        &__arrows {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            gap: 30px;
                            margin-left: 4px;
                            // .slider-arrow {
                            //     &__prev {
                            //     }
                            //     &__next {
                            //     }
                            // }
                        }
                        &__more {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
    &__mascota {
        @media (max-width: $md2+px) {
            display: none;
        }
        img {
            max-width: 650px;
            width: 100%;
            height: auto;
        }
    }
}
