@media (max-width: $md1+px) {
    .hero-section {
        background-position: 80% 50% !important;
    }
    .about-section {
        &__content {
            max-width: 450px;
        }
    }
}

@media (max-width: $md2+px) {
    .video-section {
        .video-poster {
            height: 490px;
        }
    }
    .story-section {
        transform: translateY(-70px);
        margin-bottom: -70px;
        &__content {
            max-width: 370px;
        }
    }

    .about-section {
        padding: 100px 0;
        &__mascota {
            display: none;
        }
        &__content {
            max-width: 90%;
            text-align: center;
            margin: 0 auto;
            .mascota-mobile {
                display: block;
                img {
                    width: 80%;
                }
            }
            .campany-promoters {
                text-align: left;
                .minister {
                    margin-top: 0;
                }
            }
        }
    }

    .footer {
        margin-top: -140px;
        padding-top: 150px;
        .footer-body {
            flex-direction: column;
            .footer-body__mascota {
                transform: translateY(0);
                margin-top: 0;
            }
        }
    }
}

@media (max-width: $md3+px) {
    .hero-section {
        height: 700px;
        padding-top: 150px;
        background-position: 96% 200px !important;
        .hero-container {
            justify-content: flex-start;
        }
        &__text {
            text-align: center;
        }
        &__search {
            max-width: 100%;
            padding: 30px 15px;
            margin-top: 0;
            border-radius: 0;
            .search-form {
                gap: 15px;
                .input-block {
                    padding: 0 15px;
                    .search-value__list {
                        li {
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }

    .header {
        .burger {
            display: block;
            position: relative;
            width: 35px;
            height: 26px;
            background-color: transparent;
            z-index: 5;
            &.active {
                span {
                    background-color: transparent;
                    transform: translateX(-20px);
                    &:first-child {
                        background-color: $accentcolor;
                        transform: rotate(45deg) translateX(0);
                        top: 11px;
                    }
                    &:last-child {
                        background-color: $accentcolor;
                        transform: rotate(-45deg) translateX(0);
                        bottom: 11px;
                    }
                }
            }
            span {
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 5px;
                background-color: $accentcolor;
                left: 0;
                transition: 0.3s;
                &:first-child {
                    top: 3px;
                }
                &:last-child {
                    bottom: 0;
                }
            }
        }
        &-navbar {
            position: fixed;
            width: 70%;
            height: 100%;
            background-color: #fff;
            right: -70%;
            top: 0;
            z-index: 4;
            padding-top: 150px;
            padding-left: 30px;
            transition: right 0.3s;
            &.active {
                right: 0;
            }
            &__list {
                align-items: flex-start;
                flex-direction: column;
                gap: 50px;
            }
            &__link {
                font-size: 22px;
            }
        }
    }

    .video-section {
        width: 100%;
        height: 100%;
        padding: 50px 0;
        background: #fef8e4 !important;
        transform: translateY(0);
        margin-bottom: 0;
        .video-poster {
            height: 400px;
            button {
                svg {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    .state-section {
        padding: 50px 0;
        transform: translateY(0);
        margin-bottom: 0;
        background-color: #e7f2f0 !important;
    }

    .story-section {
        transform: translateY(0);
        margin-bottom: 0;
        padding: 120px 0;
        &__illustration {
            display: none;
        }
        &__content {
            max-width: 100%;
            text-align: center;
        }
    }

    .about-section {
        transform: translateY(0);
        margin-bottom: 0;
        padding: 70px 0;
        background: #fef8e4 !important;
    }

    .footer {
        margin-top: 0;
        padding-top: 80px;
        background: #2f493a !important;
        .footer-body {
            &__content {
                max-width: 100%;
                text-align: center;
                .footer-content__title {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .story-popup {
        padding: 30px;
        .story-form {
            margin-top: 20px;
            grid-gap: 30px 20px;
        }
    }
}

@media (max-width: $md4+px) {
    .hero-section {
        &__search {
            padding: 30px;
            h4 {
                text-align: center;
            }
            .search-form {
                flex-direction: column;
                .input-block {
                    width: 100%;
                }
                .search-submit {
                    width: 100%;
                }
            }
            .hero-search__meta {
                justify-content: center;
            }
        }
    }

    .about-section {
        padding: 50px 0;
        &__content {
            max-width: 100%;
            .mascota-mobile {
                img {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        padding-top: 50px;
        .footer-body {
            display: flex;
            align-items: center;
            &__content {
                .footer-content__search {
                    flex-direction: column;
                    .input-block {
                        width: 100%;
                    }
                    .search-submit {
                        width: 100%;
                    }
                }
            }
        }
    }
    .story-popup {
        padding: 40px 30px;
        .story-form {
            label {
                grid-column: 2 span;
            }
            button {
                width: 100%;
                grid-column: 2 span;
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: $md5+px) {
    .hero-section {
        background-position: 87% 200px !important;

        &__search {
            .hero-search__meta {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

    .video-section {
        padding: 130px 0;
        .video-poster {
            height: 350px;
        }
    }

    .story-section {
        padding: 50px 0;
        &__navigation {
            flex-wrap: wrap;
            a {
                width: 100%;
            }
        }
    }

    .footer {
        .footer-copyright {
            flex-direction: column;
            gap: 25px;
            small {
                order: 2;
            }
        }
    }
    .story-popup {
        padding: 30px 15px;
    }
}

@keyframes ripple {
    0% {
        opacity: 0.4;
    }
    100% {
        border-radius: 50%;
        opacity: 0;
        transform: scale(2.2);
    }
}
