.stari {
    transform: translateY(-60px);
    padding: 250px 0;
    @media (max-width: $md3+px) {
        background-color: #fef8e4;
        transform: translateY(0);
        padding: 150px 0;
    }
    .stari-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 160px 40px;
        @media (max-width: $md2+px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 130px 30px;
        }
        @media (max-width: $md4+px) {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            border-radius: 20px;
            box-shadow: 0px 25px 55px rgba(0, 0, 0, 0.07);
            padding: 50px 30px;
            width: 100%;
            background-color: #fff;
            text-align: center;
            @media (max-width: $md2+px) {
                padding: 30px 15px;
            }
            @media (max-width: $md4+px) {
                width: 80%;
                margin: 0 auto;
            }
            @media (max-width: $md5+px) {
                width: 100%;
            }
            img {
                max-width: 100%;
                transform: translateY(-150px);
                margin-bottom: -150px;
            }
            p {
                color: $graycolor;
                margin: 20px 0;
            }
            a {
                text-decoration-line: underline;
                color: $accentcolor;
                transition: color 0.3s;
                &:hover {
                    color: $limecolor;
                }
            }
        }
    }
}
