h1 {
    font-family: 'Bogart';
    @include adaptiv-value('font-size', 80, 35, 1);
    line-height: 125%;
    color: $darkgreen;
}
h2 {
    font-family: 'Bogart';
    @include adaptiv-value('font-size', 50, 30, 1);
    line-height: 140%;
    color: $darkgreen;
}
h3 {
    font-family: 'Bogart';
    @include adaptiv-value('font-size', 35, 28, 1);
    line-height: 150%;
    color: $darkgreen;
}
h4 {
    font-weight: 500;
    @include adaptiv-value('font-size', 30, 24, 1);
    line-height: 45px;
    color: $darkgreen;
}
h5 {
    font-weight: 600;
    font-size: 22px;
    color: $darkgreen;
    @include adaptiv-value('font-size', 22, 16, 1);
}
h6 {
    font-weight: 600;
    line-height: 27px;
    color: $darkgreen;
    @include adaptiv-value('font-size', 18, 16, 1);
}
p {
    @include adaptiv-value('font-size', 16, 14, 1);
    line-height: 190%;
    color: $darkgreen;
}

input,
textarea {
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 15px 25px;
    border: 1px solid $linecolor;
    background-color: #fff;
    border-radius: 100px;
    outline: none;
    transition: border-color 0.3s;
    font-size: 14px;
    &:focus {
        border-color: $darkgreen;
    }
    &::placeholder {
        font-size: 14px;
        color: $lightgray;
    }
}

textarea {
    border-radius: 25px;
    height: 160px;
}

form button {
    display: block;
    background-color: $limecolor;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 114.5%;
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    transition: background-color 0.3s;
    &:hover {
        background-color: darken($limecolor, 3);
    }
    &:active {
        background-color: darken($limecolor, 6);
    }
}

.btn-accent {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 18px 0;
    color: #ffffff;
    background-color: $accentcolor;
    border-radius: 100px;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    &:hover {
        background-color: lighten($accentcolor, 4);
    }
    &:active {
        background-color: darken($accentcolor, 2);
    }
}

.btn-outline {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: $darkgreen;
    background-color: #fff;
    border: 1px solid #ccdedb;
    border-radius: 100px;
    padding: 17px 0;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    &:hover {
        background-color: $accentcolor;
        color: #fff;
        border-color: transparent;
    }
}

.slider-arrow {
    transition: transform 0.3s;
    background-color: transparent;
    &.swiper-button-disabled {
        opacity: 0.7;
    }
    &:hover {
        transform: scale(1.15);
    }
}

.section-header {
    h2 {
        @include adaptiv-value('margin-bottom', 30, 15, 1);
    }
    p {
        color: $graycolor;
        line-height: 194%;
        &:not(:last-child) {
            @include adaptiv-value('margin-bottom', 20, 10, 1);
        }
    }
}

.slider-controls__dots {
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: 1;
        background: #9dbeaa;
        &-active {
            background: #49745b;
        }
    }
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    gap: 30px;
    .input-block {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 20px;
        border-radius: 100px;
        background-color: #fff;
        border: 1px solid #ccdedb;
        flex: 1;
        .icon-search {
            font-size: 24px;
        }
        .icon-chevron {
            transition: transform 0.3s;
            font-size: 20px;
        }
        .search-input {
            border: none;
            padding-left: 10px;
            padding-right: 10px;
            &:focus + .icon-chevron {
                transform: rotate(180deg);
            }
        }
        .search-value__list {
            position: absolute;
            top: 115%;
            left: 0;
            width: 100%;
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            max-height: 0;
            transition: 0.3s ease-in-out;
            border-radius: 20px;
            &.open {
                max-height: 250px;
                overflow: auto;
            }
            li {
                position: relative;
                background-color: #fafcfd;
                padding: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.3s;
                opacity: 1;
                &:hover {
                    background-color: $accentcolor;
                    color: #fff;
                }
                &.closed {
                    opacity: 0;
                    padding: 0;
                    max-height: 0;
                    display: none;
                    overflow: hidden;
                    transform: scaleY(0);
                }
            }
        }
    }
    .search-submit {
        width: 200px;
    }
}
