<div class="overlay"></div>

<div class="story-popup">
    <h3>Spune-mi povestea ta</h3>
    <form action="#" class="story-form">
        <label for="name">
            Cum te pot numi?
            <input type="text" id="name" placeholder="Scrie-ti nume sau nickname DVS">
        </label>
        <label for="phone">
            Telefon
            <input type="tel" id="phone" placeholder="Scrie-ti numarul DVS">
        </label>
        <label for="email">
            E-mail
            <input type="email" id="email" placeholder="Scrie-ti email DVS">
        </label>
        <label for="message">
            Istoria
            <textarea name="message" id="message" placeholder="Scrie istoria ta"></textarea>
        </label>
        <button type="submit">Aplica</button>
    </form>
</div>