<div class="page__state-slider state-slider">
    <div class="state-slider__body">
        <div class="state-slider__slider swiper-container">
            <div class="slider-state__body swiper">
                <div class="slider-state__slide">
                    <img src="img/stress.svg" alt="Stres">
                    <h5>Stres</h5>
                    <a href="stari-single.html">Citeste mai mult</a>
                </div>
                <div class="slider-state__slide">
                    <img src="img/depression.svg" alt="Depresie">
                    <h5>Depresie</h5>
                    <a href="stari-single.html">Citeste mai mult</a>
                </div>
                <div class="slider-state__slide">
                    <img src="img/anexiety.svg" alt="Anxietate">
                    <h5>Anxietate</h5>
                    <a href="stari-single.html">Citeste mai mult</a>
                </div>
                <div class="slider-state__slide">
                    <img src="img/stress.svg" alt="Stres">
                    <h5>Stres</h5>
                    <a href="stari-single.html">Citeste mai mult</a>
                </div>
                <div class="slider-state__slide">
                    <img src="img/depression.svg" alt="Depresie">
                    <h5>Depresie</h5>
                    <a href="stari-single.html">Citeste mai mult</a>
                </div>
                <div class="slider-state__slide">
                    <img src="img/anexiety.svg" alt="Anxietate">
                    <h5>Anxietate</h5>
                    <a href="stari-single.html">Citeste mai mult</a>
                </div>
            </div>

            <div class="slider-state-controls">
                <div class="slider-state-controls__dots slider-controls__dots"></div>
                <div class="slider-state-controls__arrows slider-arrows">
                    <button type="button" class="slider-arrow slider-arrow__prev">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle r="24.5" transform="matrix(-1 0 0 1 25 25)" fill="white" stroke="#CCDEDB"/>
                            <path d="M27.8416 28.825L24.0249 25L27.8416 21.175L26.6666 20L21.6666 25L26.6666 30L27.8416 28.825Z" fill="#294133"/>
                        </svg>
                    </button>
                    <button type="button" class="slider-arrow slider-arrow__next">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="25" cy="25" r="24.5" fill="white" stroke="#CCDEDB"/>
                            <path d="M22.1584 28.825L25.9751 25L22.1584 21.175L23.3334 20L28.3334 25L23.3334 30L22.1584 28.825Z" fill="#294133"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>